.53_3 { 
	overflow:hidden;
}.e53_3 { 
	background-image:linear-gradient(0deg, rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1) 0%,rgba(255, 137.4380475282669, 94.56250101327896, 1) 100%) ;
	width:1440px;
	height:2000px;
	position:absolute;
}.e53_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:1003px;
	height:94px;
	position:absolute;
	left:426px;
	top:9px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
}.e53_5 { 
	background-color:rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1);
	width:229px;
	height:57px;
	position:absolute;
	left:455px;
	top:28px;
	border-radius:Symbol(figma.mixed)px;
}.53_5 { 
	border:5px solid rgba(24.43749949336052, 23.113802522420883, 23.113802522420883, 1);
}.e55_10 { 
	background-color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:606px;
	top:39px;
}.e53_6 { 
	color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:316px;
	height:46px;
	position:absolute;
	left:383px;
	top:40px;
	font-family:Krona One;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e53_7 { 
	width:396px;
	height:94px;
	position:absolute;
	left:14px;
	top:9px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
	background-image:url(images/logo_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e53_8 { 
	background-color:rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1);
	width:229px;
	height:57px;
	position:absolute;
	left:1187px;
	top:27px;
	border-radius:Symbol(figma.mixed)px;
}.53_8 { 
	border:5px solid rgba(24.43749949336052, 23.113802522420883, 23.113802522420883, 1);
}.e56_11 { 
	background-color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:33px;
	height:33px;
	position:absolute;
	left:1350px;
	top:39px;
}.56_11 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e53_9 { 
	background-color:rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1);
	width:229px;
	height:57px;
	position:absolute;
	left:699px;
	top:28px;
	border-radius:Symbol(figma.mixed)px;
}.53_9 { 
	border:5px solid rgba(24.43749949336052, 23.113802522420883, 23.113802522420883, 1);
}.e53_10 { 
	background-color:rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1);
	width:229px;
	height:57px;
	position:absolute;
	left:943px;
	top:28px;
	border-radius:Symbol(figma.mixed)px;
}.53_10 { 
	border:5px solid rgba(24.43749949336052, 23.113802522420883, 23.113802522420883, 1);
}.e53_11 { 
	color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:316px;
	height:46px;
	position:absolute;
	left:656px;
	top:40px;
	font-family:Krona One;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e53_12 { 
	color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:316px;
	height:46px;
	position:absolute;
	left:882px;
	top:40px;
	font-family:Krona One;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e53_13 { 
	color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:316px;
	height:46px;
	position:absolute;
	left:1122px;
	top:40px;
	font-family:Krona One;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e53_14 { 
	width:35px;
	height:35px;
	position:absolute;
	left:1104px;
	top:39px;
}.i53_14_4_19 { 
	border:2px solid rgba(255, 137.4380475282669, 94.56250101327896, 1);
}.ei53_14_4_19 { 
	width:30.625px;
	height:30.625px;
	position:absolute;
	left:2.1875px;
	top:2.1875px;
}.e53_15 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:919px;
	height:102px;
	position:absolute;
	left:69px;
	top:115px;
	font-family:Changa One;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}.e53_16 { 
	width:95px;
	height:95px;
	position:absolute;
	left:14px;
	top:821px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e53_17 { 
	width:95px;
	height:95px;
	position:absolute;
	left:347px;
	top:821px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e53_18 { 
	width:95px;
	height:95px;
	position:absolute;
	left:1044px;
	top:821px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e53_19 { 
	transform: rotate(90deg);
	width:122px;
	height:0px;
	position:absolute;
	left:332px;
	top:821px;
}.53_19 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e53_20 { 
	transform: rotate(90deg);
	width:122px;
	height:0px;
	position:absolute;
	left:442px;
	top:1030px;
}.53_20 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e53_21 { 
	transform: rotate(90deg);
	width:122px;
	height:0px;
	position:absolute;
	left:994px;
	top:1030px;
}.53_21 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e53_22 { 
	transform: rotate(90deg);
	width:122px;
	height:0px;
	position:absolute;
	left:1014px;
	top:821px;
}.53_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e53_23 { 
	transform: rotate(90deg);
	width:122px;
	height:0px;
	position:absolute;
	left:656px;
	top:821px;
}.53_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e53_24 { 
	background-color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:291px;
	height:71px;
	position:absolute;
	left:1080px;
	top:584px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.53_24 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e53_25 { 
	color:rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1);
	width:228px;
	height:56px;
	position:absolute;
	left:1112px;
	top:592px;
	font-family:Baloo Bhai;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e53_26 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:399px;
	height:206px;
	position:absolute;
	left:1034px;
	top:344px;
	font-family:Baloo Bhai;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e53_27 { 
	color:rgba(0, 0, 0, 1);
	width:205px;
	height:82px;
	position:absolute;
	left:789px;
	top:821px;
	font-family:Alef;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e53_28 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:82px;
	position:absolute;
	left:451px;
	top:821px;
	font-family:Alef;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e53_29 { 
	color:rgba(0, 0, 0, 1);
	width:339px;
	height:37px;
	position:absolute;
	left:1034px;
	top:280px;
	font-family:Changa One;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e53_30 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:70px;
	position:absolute;
	left:1132px;
	top:821px;
	font-family:Alef;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e53_31 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:103px;
	position:absolute;
	left:77px;
	top:821px;
	font-family:Alef;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e53_32 { 
	width:95px;
	height:95px;
	position:absolute;
	left:684px;
	top:821px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.53_33 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e53_33 { 
	width:767px;
	height:530px;
	position:absolute;
	left:630px;
	top:1184px;
	border-top-left-radius:105px;
	border-top-right-radius:105px;
	border-bottom-left-radius:105px;
	border-bottom-right-radius:105px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e53_34 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:451px;
	height:199px;
	position:absolute;
	left:87px;
	top:1382px;
	font-family:Baloo Bhai;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e53_35 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:281px;
	height:37px;
	position:absolute;
	left:172px;
	top:1307px;
	font-family:Changa One;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e53_36 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:37px;
	position:absolute;
	left:605px;
	top:967px;
	font-family:Changa One;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e53_37 { 
	transform: rotate(-2.4848083448933725e-17deg);
	width:284.00177001953125px;
	height:0px;
	position:absolute;
	left:578px;
	top:1014px;
}.53_37 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e53_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:227px;
	height:57px;
	position:absolute;
	left:43px;
	top:1643px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e53_39 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:40px;
	position:absolute;
	left:50px;
	top:1649px;
	font-family:Capriola;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e53_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	opacity:0.5;
	width:227px;
	height:57px;
	position:absolute;
	left:351px;
	top:1643px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e53_41 { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:46px;
	position:absolute;
	left:372px;
	top:1649px;
	font-family:Capriola;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e53_42 { 
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:41.66666793823242px;
	position:absolute;
	left:190px;
	top:1651px;
}.53_43 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e53_43 { 
	width:1371.0003662109375px;
	height:0px;
	position:absolute;
	left:26px;
	top:1742px;
}.e53_44 { 
	width:24px;
	height:24px;
	position:absolute;
	left:781px;
	top:1793px;
}.e53_45 { 
	background-color:rgba(0, 0, 0, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:3px;
	top:3px;
}.e53_46 { 
	background-color:rgba(0, 0, 0, 1);
	width:20px;
	height:14px;
	position:absolute;
	left:630px;
	top:1799.0001220703125px;
}.e53_47 { 
	background-color:rgba(0, 0, 0, 1);
	width:20.919998168945312px;
	height:17px;
	position:absolute;
	left:680px;
	top:1796px;
}.e53_48 { 
	color:rgba(0, 0, 0, 1);
	width:84px;
	height:37px;
	position:absolute;
	left:201px;
	top:1022px;
	font-family:Changa One;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e53_49 { 
	background-color:rgba(0, 0, 0, 1);
	width:20px;
	height:19.999998092651367px;
	position:absolute;
	left:731px;
	top:1795px;
}.e53_50 { 
	color:rgba(255, 255, 255, 1);
	width:372px;
	height:90px;
	position:absolute;
	left:57px;
	top:1069px;
	font-family:Alef;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.53_51 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e53_51 { 
	width:71px;
	height:0px;
	position:absolute;
	left:574px;
	top:1774px;
}.e53_52 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:43px;
	position:absolute;
	left:656px;
	top:1019px;
	font-family:Changa One;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e53_53 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:46px;
	position:absolute;
	left:1105px;
	top:1022px;
	font-family:Changa One;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e53_54 { 
	color:rgba(255, 255, 255, 1);
	width:439px;
	height:67px;
	position:absolute;
	left:511px;
	top:1066px;
	font-family:Alef;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.53_55 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e53_55 { 
	width:71px;
	height:0px;
	position:absolute;
	left:802px;
	top:1774px;
}.e53_56 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:31px;
	position:absolute;
	left:658px;
	top:1757px;
	font-family:Capriola;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e53_57 { 
	color:rgba(0, 0, 0, 1);
	width:1159px;
	height:194px;
	position:absolute;
	left:157px;
	top:1806px;
	font-family:Capriola;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}.e53_58 { 
	color:rgba(255, 255, 255, 1);
	width:219px;
	height:48px;
	position:absolute;
	left:1089px;
	top:1066px;
	font-family:Alef;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.53_59 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e53_59 { 
	width:943px;
	height:584px;
	position:absolute;
	left:51px;
	top:217px;
	border-top-left-radius:84px;
	border-top-right-radius:84px;
	border-bottom-left-radius:84px;
	border-bottom-right-radius:84px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e59_5 { 
	width:100px;
	height:100px;
	position:absolute;
	left:421px;
	top:225px;
}