.53_3 { 
	overflow:hidden;
}
.e53_3 { 
	background-image:linear-gradient(0deg, rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1) 0%,rgba(255, 137.4380475282669, 94.56250101327896, 1) 100%) ;
	width:1440rem;
	height:2000rem;
	position:absolute;
}
.e53_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:1003rem;
	height:94rem;
	position:absolute;
	left:426rem;
	top:9rem;
	border-top-left-radius:70rem;
	border-top-right-radius:70rem;
	border-bottom-left-radius:70rem;
	border-bottom-right-radius:70rem;
}
.e53_5 { 
	background-color:rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1);
	width:229rem;
	height:57rem;
	position:absolute;
	left:455rem;
	top:28rem;
	border-radius:Symbol(figma.mixed)px;
}
.53_5 { 
	border:5px solid rgba(24.43749949336052, 23.113802522420883, 23.113802522420883, 1);
}
.e55_10 { 
	background-color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:35rem;
	height:35rem;
	position:absolute;
	left:606rem;
	top:39rem;
}
.e53_6 { 
	color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:316rem;
	height:46rem;
	position:absolute;
	left:383rem;
	top:40rem;
	font-family:Krona One;
	text-align:center;
	font-size:28rem;
	letter-spacing:0;
}
.e53_7 { 
	width:396rem;
	height:94rem;
	position:absolute;
	left:14rem;
	top:9rem;
	border-top-left-radius:80rem;
	border-top-right-radius:80rem;
	border-bottom-left-radius:80rem;
	border-bottom-right-radius:80rem;
	background-image:url(images/logo_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_8 { 
	background-color:rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1);
	width:229rem;
	height:57rem;
	position:absolute;
	left:1187rem;
	top:27rem;
	border-radius:Symbol(figma.mixed)px;
}
.53_8 { 
	border:5rem solid rgba(24.43749949336052, 23.113802522420883, 23.113802522420883, 1);
}
.e56_11 { 
	background-color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:33rem;
	height:33rem;
	position:absolute;
	left:1350rem;
	top:39rem;
}
.56_11 { 
	border:1rem solid rgba(0, 0, 0, 1);
}
.e53_9 { 
	background-color:rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1);
	width:229rem;
	height:57rem;
	position:absolute;
	left:699rem;
	top:28rem;
	border-radius:Symbol(figma.mixed)px;
}
.53_9 { 
	border:5rem solid rgba(24.43749949336052, 23.113802522420883, 23.113802522420883, 1);
}
.e53_10 { 
	background-color:rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1);
	width:229rem;
	height:57rem;
	position:absolute;
	left:943rem;
	top:28rem;
	border-radius:Symbol(figma.mixed)px;
}
.53_10 { 
	border:5rem solid rgba(24.43749949336052, 23.113802522420883, 23.113802522420883, 1);
}
.e53_11 { 
	color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:316rem;
	height:46rem;
	position:absolute;
	left:656rem;
	top:40rem;
	font-family:Krona One;
	text-align:center;
	font-size:28rem;
	letter-spacing:0;
}
.e53_12 { 
	color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:316rem;
	height:46rem;
	position:absolute;
	left:882rem;
	top:40rem;
	font-family:Krona One;
	text-align:center;
	font-size:28rem;
	letter-spacing:0;
}
.e53_13 { 
	color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:316rem;
	height:46rem;
	position:absolute;
	left:1122rem;
	top:40rem;
	font-family:Krona One;
	text-align:center;
	font-size:28rem;
	letter-spacing:0;
}
.e53_14 { 
	width:35rem;
	height:35rem;
	position:absolute;
	left:1104rem;
	top:39rem;
}
.i53_14_4_19 { 
	border:2rem solid rgba(255, 137.4380475282669, 94.56250101327896, 1);
}
.ei53_14_4_19 { 
	width:30.625rem;
	height:30.625rem;
	position:absolute;
	left:2.1875rem;
	top:2.1875rem;
}
.e53_15 { 
	box-shadow:0rem 4rem 4rem rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:919rem;
	height:102rem;
	position:absolute;
	left:69rem;
	top:115rem;
	font-family:Changa One;
	text-align:center;
	font-size:96rem;
	letter-spacing:0;
}
.e53_16 { 
	width:95rem;
	height:95rem;
	position:absolute;
	left:14rem;
	top:821rem;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_17 { 
	width:95rem;
	height:95rem;
	position:absolute;
	left:347rem;
	top:821rem;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_18 { 
	width:95rem;
	height:95rem;
	position:absolute;
	left:1044rem;
	top:821rem;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_19 { 
	transform: rotate(90deg);
	width:122rem;
	height:0rem;
	position:absolute;
	left:332rem;
	top:821rem;
}
.53_19 { 
	border:1rem solid rgba(0, 0, 0, 1);
}
.e53_20 { 
	transform: rotate(90deg);
	width:122rem;
	height:0rem;
	position:absolute;
	left:442rem;
	top:1030rem;
}
.53_20 { 
	border:1rem solid rgba(0, 0, 0, 1);
}
.e53_21 { 
	transform: rotate(90deg);
	width:122rem;
	height:0rem;
	position:absolute;
	left:994rem;
	top:1030rem;
}
.53_21 { 
	border:1rem solid rgba(0, 0, 0, 1);
}
.e53_22 { 
	transform: rotate(90deg);
	width:122rem;
	height:0rem;
	position:absolute;
	left:1014rem;
	top:821rem;
}
.53_22 { 
	border:1rem solid rgba(0, 0, 0, 1);
}
.e53_23 { 
	transform: rotate(90deg);
	width:122rem;
	height:0rem;
	position:absolute;
	left:656rem;
	top:821rem;
}
.53_23 { 
	border:1rem solid rgba(0, 0, 0, 1);
}
.e53_24 { 
	background-color:rgba(255, 137.4380475282669, 94.56250101327896, 1);
	width:291rem;
	height:71rem;
	position:absolute;
	left:1080rem;
	top:584rem;
	border-top-left-radius:50rem;
	border-top-right-radius:50rem;
	border-bottom-left-radius:50rem;
	border-bottom-right-radius:50rem;
}
.53_24 { 
	border:5rem solid rgba(0, 0, 0, 1);
}
.e53_25 { 
	color:rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1);
	width:228rem;
	height:56rem;
	position:absolute;
	left:1112rem;
	top:592rem;
	font-family:Baloo Bhai;
	text-align:left;
	font-size:35rem;
	letter-spacing:0;
}
.e53_26 { 
	box-shadow:0rem 4rem 4rem rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:399rem;
	height:206rem;
	position:absolute;
	left:1034rem;
	top:344rem;
	font-family:Baloo Bhai;
	text-align:left;
	font-size:20rem;
	letter-spacing:0;
}
.e53_27 { 
	color:rgba(0, 0, 0, 1);
	width:205rem;
	height:82rem;
	position:absolute;
	left:789rem;
	top:821rem;
	font-family:Alef;
	text-align:center;
	font-size:25rem;
	letter-spacing:0;
}
.e53_28 { 
	color:rgba(0, 0, 0, 1);
	width:196rem;
	height:82rem;
	position:absolute;
	left:451rem;
	top:821rem;
	font-family:Alef;
	text-align:center;
	font-size:25rem;
	letter-spacing:0;
}
.e53_29 { 
	color:rgba(0, 0, 0, 1);
	width:339rem;
	height:37rem;
	position:absolute;
	left:1034rem;
	top:280rem;
	font-family:Changa One;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.e53_30 { 
	color:rgba(0, 0, 0, 1);
	width:214rem;
	height:70rem;
	position:absolute;
	left:1132rem;
	top:821rem;
	font-family:Alef;
	text-align:center;
	font-size:25rem;
	letter-spacing:0;
}
.e53_31 { 
	color:rgba(0, 0, 0, 1);
	width:255rem;
	height:103rem;
	position:absolute;
	left:77rem;
	top:821rem;
	font-family:Alef;
	text-align:center;
	font-size:25rem;
	letter-spacing:0;
}
.e53_32 { 
	width:95rem;
	height:95rem;
	position:absolute;
	left:684rem;
	top:821rem;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.53_33 { 
	border:5rem solid rgba(0, 0, 0, 1);
}
.e53_33 { 
	width:767rem;
	height:530rem;
	position:absolute;
	left:630rem;
	top:1184rem;
	border-top-left-radius:105rem;
	border-top-right-radius:105rem;
	border-bottom-left-radius:105rem;
	border-bottom-right-radius:105rem;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_34 { 
	box-shadow:0rem 4rem 4rem rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:451rem;
	height:199rem;
	position:absolute;
	left:87rem;
	top:1382rem;
	font-family:Baloo Bhai;
	text-align:center;
	font-size:20rem;
	letter-spacing:0;
}
.e53_35 { 
	box-shadow:0rem 4rem 4rem rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:281rem;
	height:37rem;
	position:absolute;
	left:172rem;
	top:1307rem;
	font-family:Changa One;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.e53_36 { 
	box-shadow:0rem 4rem 4rem rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:230rem;
	height:37rem;
	position:absolute;
	left:605rem;
	top:967rem;
	font-family:Changa One;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.e53_37 { 
	transform: rotate(-2.4848083448933725e-17deg);
	width:284.00177001953125px;
	height:0rem;
	position:absolute;
	left:578rem;
	top:1014rem;
}
.53_37 { 
	border:1rem solid rgba(0, 0, 0, 1);
}
.e53_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:227rem;
	height:57rem;
	position:absolute;
	left:43rem;
	top:1643rem;
	border-top-left-radius:30rem;
	border-top-right-radius:30rem;
	border-bottom-left-radius:30rem;
	border-bottom-right-radius:30rem;
}
.e53_39 { 
	color:rgba(0, 0, 0, 1);
	width:169rem;
	height:40rem;
	position:absolute;
	left:50rem;
	top:1649rem;
	font-family:Capriola;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.e53_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	opacity:0.5;
	width:227rem;
	height:57rem;
	position:absolute;
	left:351rem;
	top:1643rem;
	border-top-left-radius:30rem;
	border-top-right-radius:30rem;
	border-bottom-left-radius:30rem;
	border-bottom-right-radius:30rem;
}
.e53_41 { 
	color:rgba(0, 0, 0, 1);
	width:184rem;
	height:46rem;
	position:absolute;
	left:372rem;
	top:1649rem;
	font-family:Capriola;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.e53_42 { 
	background-color:rgba(0, 0, 0, 1);
	width:40rem;
	height:41.66666793823242rem;
	position:absolute;
	left:190rem;
	top:1651rem;
}
.53_43 { 
	border:1rem solid rgba(0, 0, 0, 1);
}
.e53_43 { 
	width:1371.0003662109375rem;
	height:0rem;
	position:absolute;
	left:26rem;
	top:1742rem;
}
.e53_44 { 
	width:24rem;
	height:24rem;
	position:absolute;
	left:781rem;
	top:1793rem;
}
.e53_45 { 
	background-color:rgba(0, 0, 0, 1);
	width:18rem;
	height:18rem;
	position:absolute;
	left:3rem;
	top:3rem;
}
.e53_46 { 
	background-color:rgba(0, 0, 0, 1);
	width:20rem;
	height:14rem;
	position:absolute;
	left:630rem;
	top:1799.0001220703125rem;
}
.e53_47 { 
	background-color:rgba(0, 0, 0, 1);
	width:20.919998168945312rem;
	height:17rem;
	position:absolute;
	left:680rem;
	top:1796rem;
}
.e53_48 { 
	color:rgba(0, 0, 0, 1);
	width:84rem;
	height:37rem;
	position:absolute;
	left:201rem;
	top:1022rem;
	font-family:Changa One;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.e53_49 { 
	background-color:rgba(0, 0, 0, 1);
	width:20rem;
	height:19.999998092651367rem;
	position:absolute;
	left:731rem;
	top:1795rem;
}
.e53_50 { 
	color:rgba(255, 255, 255, 1);
	width:372rem;
	height:90rem;
	position:absolute;
	left:57rem;
	top:1069rem;
	font-family:Alef;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.53_51 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e53_51 { 
	width:71rem;
	height:0rem;
	position:absolute;
	left:574rem;
	top:1774rem;
}
.e53_52 { 
	color:rgba(0, 0, 0, 1);
	width:161rem;
	height:43rem;
	position:absolute;
	left:656rem;
	top:1019rem;
	font-family:Changa One;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.e53_53 { 
	color:rgba(0, 0, 0, 1);
	width:203rem;
	height:46rem;
	position:absolute;
	left:1105rem;
	top:1022rem;
	font-family:Changa One;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.e53_54 { 
	color:rgba(255, 255, 255, 1);
	width:439rem;
	height:67rem;
	position:absolute;
	left:511rem;
	top:1066rem;
	font-family:Alef;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.53_55 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e53_55 { 
	width:71rem;
	height:0rem;
	position:absolute;
	left:802rem;
	top:1774rem;
}
.e53_56 { 
	color:rgba(0, 0, 0, 1);
	width:125rem;
	height:31rem;
	position:absolute;
	left:658rem;
	top:1757rem;
	font-family:Capriola;
	text-align:center;
	font-size:25rem;
	letter-spacing:0;
}
.e53_57 { 
	color:rgba(0, 0, 0, 1);
	width:1159rem;
	height:194rem;
	position:absolute;
	left:157rem;
	top:1806rem;
	font-family:Capriola;
	text-align:center;
	font-size:13rem;
	letter-spacing:0;
}
.e53_58 { 
	color:rgba(255, 255, 255, 1);
	width:219rem;
	height:48rem;
	position:absolute;
	left:1089rem;
	top:1066rem;
	font-family:Alef;
	text-align:center;
	font-size:35rem;
	letter-spacing:0;
}
.53_59 { 
	border:5rem solid rgba(0, 0, 0, 1);
}
.e53_59 { 
	width:943rem;
	height:584rem;
	position:absolute;
	left:51rem;
	top:217rem;
	border-top-left-radius:84rem;
	border-top-right-radius:84rem;
	border-bottom-left-radius:84rem;
	border-bottom-right-radius:84rem;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_5 { 
	width:100rem;
	height:100rem;
	position:absolute;
	left:421rem;
	top:225rem;
}
